.profile {
  padding: 40px 0 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile {
    margin: auto;
    max-width: calc(100vw - 2*19px);
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    padding: 42px 0 36px;
  }
}
